mixin cancelBusMixin(busID)
    div(class="modal fade" id=`j-${busID}` data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog modal-dialog modal-dialog-scrollable")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Enter the Date on which the bus will be unavailable
                div(class="modal-body")
                    form(id=`cancelBusForm${busID}`)
                        input(id=`datepicker-${busID}` width="350" style="margin-left:50px;" required).date-picker
                        div(class="modal-footer")
                            button(class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick=`turnSliderGreen('${busID}')`) Close
                            button(class="btn btn-primary" id="cancelBusFormSubmitBtn" type="submit" onclick=`cancelBus('${busID}')`) Cancel Bus
                            div(id=`errorPara-${busID}`)
