mixin routeCard(routeData, index)
    .card-group
            h5(class="card-title" style="display:none") 
                = routeData.bus_id
            .card
                .card-body
                    .row
                        p.col-6 PICKUP:
                        p.col-6(class="card-text")
                            = routeData.pickup
                    .row        
                        p.col-6 START DATE: 
                        p.col-6(class="card-text")
                            = routeData.starting_date
                    .row    
                        p.col-6 START TIME: 
                        p.col-6(class="card-text")
                            = routeData.starting_time
            .card
                .card-body
                    .row
                        p.col-6 DESTINATION:
                        p.col-6(class="card-text")
                            = routeData.destination
                    .row        
                        p.col-6 ARRIVAL DATE:
                        p.col-6(class="card-text")
                            = routeData.arrival_date
                    .row    
                        p.col-6 ARRIVAL TIME:
                        p.col-6(class="card-text")
                            = routeData.arrival_time
            .card 
                .card-body
                    .row
                        p.col-6 TOTAL SEATS:
                        p.col-6(class="card-text") 
                            = routeData.total_seat
                    .row        
                        p.col-6 AVAILABLE SEATS:
                        p.col-6(class="card-text") 
                            = routeData.available_seat
                    .row        
                        p.col-6 FARE:
                        p.col-6(class="card-text") 
                            = routeData.seat_fare
            button.btn.btn-styles.viewOrhide(type="button" id=`b${routeData.bus_id}` onclick='viewSeats(this.id); resetViewSeats(this.id);') View Seats

    .bus-layout.toBeHidden(id=`layout-b${routeData.bus_id}`)
        .bus-seats.col-sm-6.col-md-4.offset-md-1
            .driver
                ul 
                ul
                ul
                ul 
                ul
                    li
                        img(src="./steering-wheel.svg" style="height:30px; width:30px")
                        |Driver seat
            .passengers
                each val in [1,2,0,3,4]
                    ul
                        if(val!=0)
                            each index in ['A','B','C','D','E','F','G','H','I','J']
                                li
                                    img(src="./seat.svg" class=`img-${routeData.bus_id}` onclick='changeSeatColor(this)')
                                    =index + val

        .bus-seat-description
            div
                div(class ="commonNumberClass" id=`numberof-selected-seats-${routeData.bus_id}`) Number of seats Selected:
                div(class = "commonFareClass" id=`total-fare-${routeData.bus_id}`) Total Fare:
            button.btn.btn-primary(id=`${routeData.bus_id}` type="button" onclick='confirmBookingMessage(this.id)') Book Ticket
